<div class="row">

  <section class="bands-list">

    <div class="list-navigation">
      <div class="large-12 columns list-title">
        <h4>Registered Bands</h4>
      </div>
      <div class="large-12 columns band-create">
        <button {{action 'createBand'}} class="btn btn-icon-text btn-default" >Register Band</button>
      </div>
    </div>


    <table>
      <thead>
        <tr>
          <th>Band Name</th>
          <th>Path</th>
          <th>Category ID</th>
          <th>Group ID</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |band|}}
          <tr>
            <td>{{band.name}}</td>
            <td>{{band.path}}</td>
            <td>{{band.category_id}}</td>
            <td>{{band.group_id}}</td>
            <td class="band-control"><button {{action 'deleteBand' band}} class="btn btn-icon-text btn-default">Delete Band</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{outlet}}
  </section>
</div>

